# run server
server=1
listen=0

# prune the node
prune=10000

# Tor it
onion=127.0.0.1:9050
listenonion=1
onlynet=onion
proxy=127.0.0.1:9050
proxyrandomize=1

# RPC access
rpcport=8332
# just run ./rpcauth.py USERNAME ALPHA-NUMERIC-PASSWORD
# https://raw.githubusercontent.com/bitcoin/bitcoin/master/share/rpcauth/rpcauth.py
rpcauth=TestForVideo:5c78daa215ecc4315923df154cf6bc2c$0d3d4848831e9b10a77c88e588f8099b433c975639fc80f6df604d38d32514a2

